/*GLOBALES*/
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}
h1{
    font-size: 3.8rem;
}
h2{
    font-size: 3.4rem;
}
h3{
    font-size: 2.8rem;
}
h4{
    font-size: 2.6rem;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-family: 'Gruppo',cursive;
    font-family: 'Lato',sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

img{
    max-width: 100%;
}
/*HEADER*/
.site-header.inicio{
    background-image: url(../IMG/header.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 600px;
}
.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contenido-header h1{
    line-height: 1.5;
    color: white;
}
.barra{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    align-items: center;
}
.barra2{
    display: flex;
    justify-content: space-between;
    padding-top: 0;
    align-items: center;
}

.head2{
    background-color:#68b0ab; 
    background-position: center center;
    width: 100%;
    height: 15vh;
    background-repeat: no-repeat
}
.detalle{
    margin-top: 10px;
    background:#649d66;
    width: 100px;
	height: 8px;
}

/*NAVEGACION*/
.navegacion a{
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
    margin-right: 2rem;
}
.navegacion a:hover{
    color: green;
}
.navegacion a:last-of-type{
    margin: 0;
}
.pie{
    
    background-color: rgb(49, 43, 43);
    color: white;
    
}

/*NOSOTROS*/
.iconos-nosotros{
    display: flex;
    justify-content: space-between;
}
.icono{
    flex-basis: calc(33.3% - 1rem);
    text-align: center;
}
.icono h3{
    text-transform: uppercase;
}
.contenedor-nosotros{
    display: flex;
}
.texto{
    
    flex-direction: column;
    padding: 2rem;
    
}
/*ANUNCIOS*/
.contenedor-anuncios{
    display: flex;
    justify-content: space-between;
    
}
.anuncio{
    flex-basis: calc(33.3% - 1rem);
    border:1px solid #b5b5b5;
    background-color: #f5f5f5;
}

.contenido-anuncio{
    padding: 2rem 4rem;
}
.contenido-anuncio h3{
    margin: 0;
}
.contenido-anuncio p{
    margin: 0;
}
.precio{
    color: #71B100;
    font-weight: 700;
}
.iconos-caracteristicas{
    list-style: none;
    padding: 0;
    display: flex;
    
    align-items: center;
}
.iconos-caracteristicas li{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}
/*CONTACTO HOME*/
.imagen-contacto{
    background-image: url(../IMG/encuentra.jpg);
    height: 40rem;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
}
.contenido-contacto{
    flex: 1;
    color: white;
}
/*BLOG*/
.contBT{
	width: 100%;
	height: 100%;
	background: white;
	display: flex;
}
.cntBg
{
    margin: 0 auto;
    width: 70%;
    text-align: justify;
}
.alinear{
    display: flex;
    font-size: 1rem;
    padding-top: 20px;
}
.bg{
	background: white;
	color: black;
	margin: 30px;
	padding: 10px;
	font-size: 4rem;
    text-align: center;
    flex: 2 1 auto;
}

.tes{
	margin: 30px;
	padding: 10px;
    flex: 1 2 auto;
    text-align: justify;
}
.tes h2{
    text-align: center;
}
.alinear{
    display: flex;
    font-size: 1rem;
    padding-top: 20px;
}

.alinear img{
    width: 300px;
    height: 200px;
}
.texto{
    flex-direction: column;
    font-size: 1rem;
    text-align: justify;
    margin-left: 10px;
}
.texto h3{
    font-size: 1.5rem;
}

.detalle{
    margin-top: 10px;
    background:#649d66;
    width: 100px;
	height: 8px;
}
.cuadroTest{
    background:#059105;
    border-radius: 20px;
    color: white;
    width: 100%;
    
}
/*FOOTER*/

/*BOTONES*/
.boton{
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    display: inline block;
    text-align: center;
}
.boton-amarillo{
    background-color: #E08709;
}
.boton-verde{
    background-color: #71B100;
}
.botonContacto{
    width: 15%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-top: 2rem;
    margin-left: 5%;
}
.ver-todas{
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}
/*UTILIDADES*/
.seccion{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.fw300{
    font-weight: 300;
}
.centrar-texto{
    text-align: center;
}
.d-block{
    display: block!important;
}

.contenedor-testimonio{
    background-color: #71B100;
    border-radius: 1rem;
}